/* -----RESET--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----/ RESET--------*/



/* -----DEBUG--------*/
/* .debug .top{
   background-color: #add8e6; 
} */

/* .debug .low{
    background-color:#00008b;
} */

/* .debug .header-top{
    background-color: #daa520;
    height: 50px;

} */

/* .debug .header-low{
    background-color:#ee82ee;
    height: 400px;
    width: 800px; */
}

.debug .first{
    background-color: rgb(187, 29, 29);
    height: 500px;
}

.debug .row{
    height: 500px;
}

/* .debug .col-big{
    background-color:#1e90ff ;
} */

/* .debug .col-small{
    background-color: pink;
} */

/* .debug .grey{
    background-color:#d3d3d3 ;
} */

/* .debug .content{
    background-color: #228b22;
    height: 700px;
} */


.debug footer{
    background-color: black;
}


.debug .footer-col1{
    height: 500px;
    background-color:#f08080 ;
}


.debug .footer-col2, .footer-col3, .footer-col4{
height: 500px;
background-color:#20b2aa;
border: 1px dotted black;
}



.debug .footer-row2{
    background-color:#7fffd4 ;
    height: 70px;
}



.debug .element{
    background-color:#ffb6c1 ;
    height: 40px;
    width: 80px;
    border: 1px dotted black;
}
/* -----/DEBUG--------*/



/* -----COMMON--------*/
body{
    font-family: 'Roboto', sans-serif;
}


.container{
    max-width: 1200px;
    margin: auto;
}


.button{
    margin: 10px 8px;
    padding: 5px 10px;
    border: none;
    border-radius: 18px;
}
/* -----/ COMMON--------*/



/* -----HEADER--------*/

.top {
    background-color:#255EE9;
    color: #f3ffff;
}


.header-top{
    height: 50px;
    
}


.header-top nav{
    width: 50%; 
}

.logo{
    height: 34px;
    line-height: 34px;
}


.logo img{
    width: 102px;
}

.nav-top{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    list-style: none; 
}

.nav-top li{
    margin:0 20px;
}



.logo, .login{
    width: 25%;
}

.btn-access{
    background-color: #f3ffff;
    color: black;
    
}


.top, .low{
    padding: 16px 0;
    text-align: center;
}

.low{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}

.header-top{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.header-low {
    height: 400px;
    width: 800px;
    color: #f3ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-header h1{
    padding: 30px 0;
    font-weight: bold;
    font-size: 2.5em;
}

.text-header p{
    padding-bottom:  15px;
}

.btn-whithe{
    font-size: 16px;
    padding: 10px ;
    background-color: #f3ffff;
    color: black;
}


.btn-black{
     font-size: 16px;
     padding: 10px;
     background-color:black;
     color: #f3ffff;
}



/* -----/ HEADER--------*/




/* -----MAIN--------*/
section{
    padding: 40px 0;
}


.col-big{
    background-image: url(../img/item1.svg);
    background-size: 100%;
}


.grey{
    background-color: #f6f6f6;
}



.row {
    display: flex;
}

.col-big{
    width: 60%;
}

.col-small{
    padding: 0 30px;
    font-size: 2em;
    margin-top: 40px;
    width: 40%;
}

.col-small p{
    color: #000b15;
    font-size: 17px;
    padding-top: 20px;
    font-weight: bolder;
}


#item2{
    background-image: url(../img/item2.svg);
}


#items3{
    background-image: url(../img/item3.svg);
}


.content{
    height: 600px; 
    background-image: url(../img/item4-big.svg);
    background-size: 100%;
    background-position: center;
}

.title-text-4{
    font-size: 2em;
    text-align: center;
}


.title-text-4 p{
    font-size: 17px;
    padding: 20px 0;
    font-weight: bolder;
}


.second-title4{
    margin: 50px 0;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-position: center;
   
}


.second-title4 h1{
    font-size: 1.8em;
    /* line-height: 100%; */
    
    
}

.btn-total{
text-align: center;
}


.btn-download{
    margin-bottom: 50px;
    font-size: 16px;
    padding: 10px;
    background-color:#7289da;
    color: white;
}
/* -----/ MAIN--------*/




/* -----FOOTER--------*/
footer{
    padding-top: 50px ;
}

.footer-row{
    display: flex;
}

.col{
    /* width: 25%; */
}

.footer-col1{
    flex-grow: 2;
}

.footer-col1 h1{
    font-size: 1.5em;
    color: #7289da;
}

.footer-col2, .footer-col3, .footer-col4{
    flex-grow: 1;
}

.footer-row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.element{
    padding: 10px 10px;
}
/* -----/FOOTER--------*/